.modal {
    --bs-modal-padding: 1rem 1rem 1rem 1rem;
}

.modal-body::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.modal-body::-webkit-scrollbar-track {
    background: var(--secondary);
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 3px solid #f4f4f4;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--main);
}

.modal-body {
    scrollbar-width: none !important;
}

.modal-content {
    background-color: var(--secondary) !important;
}

.modal h4 {
    color: var(--main);
    font-weight: var(--fw-xl);
    font-size: 18px;
    margin-bottom: 0px;
}

.modal form label,
.modal label {
    color: var(--label);
    font-weight: var(--fw-sm);
    font-size: 12px;
    margin-bottom: 5px;
}

.modal form h6,
.modal h6 {
    color: var(--text-primary);
    font-weight: var(--fw-md);
    font-size: 12px;
}

.modal .col-form-label {
    padding-bottom: 0px !important;
}

.modal .form-control,
.modal .form-select {
    background-color: var(--input-bg) !important;
    color: var(--primary);
    font-weight: var(--fw-md);
    border: 1px solid var(--input-border);
    font-size: 12px;
}

.modal .form-control:focus,
.modal .form-select:focus {
    background-color: var(--input-bg) !important;
    border: 1px solid var(--sub) !important;
    outline: none;
    box-shadow: none;
}

.modal table th {
    padding: 8px 10px;
    font-size: 12px;
    color: var(--secondary) !important;
    font-weight: var(--fw-xl);
    text-transform: uppercase;
    background-color: var(--sub) !important;
}

.modal table td {
    padding: 8px 10px;
    font-size: 12px;
    color: var(--primary);
    font-weight: var(--fw-md);
    background-color: var(--secondary);
}

.modal .modal-img {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal .modal-img h5 {
    color: var(--sub);
    font-size: 14px;
    font-weight: var(--fw-md);
    margin-top: 5px;
}

.modal .modal-img h6 {
    color: var(--light);
    font-size: 12px;
    font-weight: var(--fw-sm);
    margin-top: 0px;
}

@media screen and (min-width: 767px) {
    .modal .modal-img img {
        height: 75px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width: 767px) {
    .modal .modal-img {
        width: 100%;
        display: grid;
        grid-template-columns: 28% 72%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .modal .modal-img img {
        height: 60px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
    }
}