/* Navbar */
.navbar {
    width: 100%;
    background-color: var(--secondary);
    position: sticky;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid var(--secondary);
    box-shadow: .75rem 0 1.5rem 0 rgba(0, 0, 0, .075);
    z-index: 998 !important;
}

.navbar .icons .user,
.offcanvas-header .user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .icons .user img,
.offcanvas-header .user img {
    z-index: 10;
}

.navbar .icons .user h6,
.offcanvas-header .user h6 {
    margin-left: -10px !important;
    z-index: 5;
    color: var(--primary);
    text-transform: capitalize;
    border: 1px solid var(--border);
}

@media screen and (min-width: 1140px) {

    /* Navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 10px 25px !important;
    }

    .navbar .icons {
        display: flex;
        justify-content: end;
        align-items: center;
        column-gap: 15px;
    }

    .navbar .icons .user h6,
    .offcanvas-header .user h6 {
        font-size: 14px;
    }

    .responsive_button,
    .navlogo {
        display: none;
    }

}

@media screen and (min-width:767px) and (max-width:1140px) {

    /* Navbar */
    .navbar {
        display: block !important;
        padding: 10px 15px !important;
    }

    .navbar .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .user h6,
    .offcanvas-header .user h6 {
        font-size: 14px;
    }

    .responsive_button {
        background-color: var(--secondary);
        color: var(--primary);
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

}

/* Tablet View 2 */
@media screen and (max-width:767px) {

    /* Navbar */
    .navbar {
        display: block !important;
        padding: 10px !important;
    }

    .navbar .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .navlogo img {
        height: 40px !important;
    }

    .navbar .user {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .navbar .user h6 {
        font-size: 12px;
        padding: 5px 10px 5px 15px !important;
    }

    .navbar .user-main {
        display: none;
    }

    .responsive_button {
        background-color: var(--secondary);
        color: var(--primary);
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

}