.main {
    width: 100%;
    display: flex;
    justify-content: start;
}

.body-main {
    width: 100%;
    margin: 0px auto;
    background-color: var(--ter-light);
    box-shadow: inset .75rem 0 1.5rem 0 rgba(0, 0, 0, .075);
    /* box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3); */
    /* Smoother */
}

.body-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-div .body-head h4 {
    color: var(--primary);
    font-weight: var(--fw-xl);
    margin-bottom: 0px;
}

.body-div .body-head h5 {
    color: var(--sub);
    font-weight: var(--fw-xl);
    text-decoration: 1.5px underline solid var(--input-border);
    margin-bottom: 0px;
}

.body-div .body-head h6 {
    color: var(--primary);
    font-weight: var(--fw-lg);
    margin-bottom: 0px;
}

.body-head .form-select,
.body-head .form-control {
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    color: var(--text-primary);
    font-weight: var(--fw-md);
    font-size: 12px;
    width: 125px;
}

@media screen and (min-width: 1140px) {

    /* Main Side-Body */
    .body-div {
        margin-top: 30px;
        padding-inline: 20px !important;
    }

    .body-div .body-head h4 {
        font-size: 18px;
    }

    .body-div .body-head h5 {
        font-size: 16px;
    }

    .body-div .body-head h6 {
        font-size: 14px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1140px) {

    /* Main Side-Body */
    .main {
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .body-main {
        width: 98%;
    }

    .body-div {
        margin-top: 10px;
        padding-inline: 10px !important;
    }

    .body-div .body-head h4 {
        font-size: 18px;
    }

    .body-div .body-head h5 {
        font-size: 16px;
    }

    .body-div .body-head h6 {
        font-size: 14px;
    }

}

@media screen and (max-width: 767px) {

    /* Main Side-Body */
    .main {
        width: 100%;
        margin: 0px auto;
        display: block;
    }

    .body-main {
        width: 98%;
    }

    .body-div {
        margin-top: 10px;
        padding-inline: 10px !important;
    }

    .body-head {
        gap: 10px;
    }

    .body-div .body-head h4 {
        font-size: 16px;
    }

    .body-div .body-head h5 {
        font-size: 16px;
    }

    .body-div .body-head h6 {
        font-size: 14px;
    }

}