/* Button */
/* Form Button */
.loginbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 2px solid var(--main);
    border-radius: 5px;
    padding: 8px 20px;
    text-transform: uppercase;
}

/* Aside Button */
.asidebtn {
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 14px;
    padding: 8px 10px;
    border: 2px solid transparent;
    width: 95%;
    font-weight: var(--fw-md);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 85% 15%;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
}

/* List Button */
.listbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 2px solid var(--main);
    border-radius: 5px;
    padding: 5px 20px;
}

.paginatebtn {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-weight: var(--fw-md);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    padding: 3px 15px;
    cursor: pointer;
}

/* Form Button */
.formbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 2px solid var(--main);
    border-radius: 5px;
    padding: 5px 20px;
}

/* List td Button */
.listtdbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-size: 10px;
    font-weight: var(--fw-md);
    border: 1px solid var(--main);
    border-radius: 2px;
    padding: 3px 12px;
}

/* Export Button */
.exportbtn {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-weight: var(--fw-md);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    padding: 4px 15px;
}

/* Profile tabs */
.profiletabs {
    background-color: transparent;
    color: var(--text-secondary);
    font-weight: var(--fw-md);
    border: none;
    border-bottom: 2px solid transparent;
    transition: var(--transition);
    padding: 5px 20px;
}

/* Modal Button */
.modalbtn {
    background-color: var(--main);
    color: var(--secondary);
    font-size: 14px;
    font-weight: var(--fw-md);
    border: 1px solid var(--main);
    border-radius: 5px;
    padding: 5px 20px;
}

/* Cancel Button */
.cancelbtn {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-size: 14px;
    font-weight: var(--fw-md);
    border: 1px solid var(--main);
    border-radius: 5px;
    padding: 5px 20px;
}

/* Green Button */
.greenbtn {
    background-color: var(--green);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    padding: 5px 20px;
}

.redbtn {
    background-color: var(--red);
    color: var(--secondary);
    font-weight: var(--fw-md);
    border: 2px solid var(--input-border);
    border-radius: 5px;
    padding: 5px 20px;
}

.xmarkbtn {
    background-color: var(--red);
    color: var(--secondary);
    border: 2px solid var(--red);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box Shadow / Transition */
.loginbtn,
.modalbtn,
.cancelbtn,
.headtabs,
.listbtn,
.paginatebtn,
.formbtn,
.listtdbtn,
.greenbtn,
.redbtn,
.exportbtn {
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

/* Button Hover */
.asidebtn.active,
.asidebtn:hover {
    background-color: var(--thead-bg);
    color: var(--text-primary);
    border: 2px solid var(--main);
}

.paginatebtn:hover,
.cancelbtn:hover {
    background-color: var(--main);
    color: var(--secondary);
}

.headtabs.active,
.headtabs:hover {
    background-color: var(--sub);
    color: var(--secondary);
}

.loginbtn:hover,
.greenbtn:hover,
.redbtn:hover,
.listbtn:hover,
.formbtn:hover,
.modalbtn:hover,
.listtdbtn:hover {
    background-color: var(--secondary);
    color: var(--text-primary);
}

.exportbtn:hover {
    background-color: var(--text-primary);
    color: var(--secondary);
}

.profiletabs:hover,
.profiletabs.active {
    color: var(--sub);
    border-bottom: 2px solid var(--sub);
}

.listbtn,
.paginatebtn,
.formbtn,
.greenbtn,
.redbtn,
.exportbtn,
.profiletabs {
    font-size: 12px;
}

.loginbtn {
    font-size: 16px;
}